:root {
  --font_family_sans_serif: BinancePlex, Arial, sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --container_width: 1200px;
  --black: #000;
  --red: #CD001D;
  --text_black: #1E2329;
  --white: #fff;
  --light_gary: #f2f2f2;
  --search_gray: #eaeaea;
  --og: #ffd120;
  --orange: #F87F15;
  --bg_gary: #f8f9fa;
  --deep_gary: #8c8c8c;
  --gary: #ececec;
  --blue: #0057B7;
  --deep_blue: #033975;
  --w_blue: #62befb;
  --light_blue: #e5f4ff;
  --light_yellow: #fffaeb;
  --footer_bg: #ececec;
  --footer_text_gary: #999797;
  --close_color: #999797;
  --m_car_lable_bg: #e8e8e8;
  --bread_gary: #848484;
  --bread_after_gary: #9b9b9b;
  --pagemark_disabled: #d5d5d5;
  --header_height: 50px;
  --social_size: 32px;
  --select_radius: 10px;
  --select_min_width: 40%;
  --car_lable_space: 0.8em;
  --m_car_lable_space: 0.15em;
  --car_lable_logo: 70px;
  --car_model_size: 150px;
  --car_type_left_w: 100%;
  --border_gary: 1px solid #d9d9d9;
  --border_blue: 1px solid var(--blue);
  --see_more_size: 250px;
  --normal_shadow: 0 0 5px rgba(0, 0, 0, .1);
  --car_img_size: 300px;
  --sec_car_right_width: 200px;
  --m_search_list_height: 45px;
  --lable_sub_img: 50px;
  --m_lable_sub_img: 35px;
  --self_price_column_gap: 1em;
  --car_color_size: 30px;
  --m_slider_footer: 45px;
  --m_slider_clear: 7em;
  --car_introduce_size: 350px;
  --tab_img: 220px;
  --video_sizs: 450px;
  --logo_size: 25px;
  --text_gary: #adadad;
  --color_fb: #1877F2;
  --color_line: #00B900;
  --color_twitter: #2BA5DA;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
span,
label blockquote,
th,
td,
select {
  font-family: var(--font_family_sans_serif);
}

body {
  background: var(--bg_gary);
  line-height: 1.2;
}

body * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  letter-spacing: .5px;
  line-height: 1.3;
  letter-spacing: 1.5px;
}

body ::after,
body ::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.body_hidden {
  overflow: hidden !important;
  scroll-behavior: none;
  overflow-y: hidden;
}

img {
  margin: auto;
  max-width: 100%;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="url"],
input[type="number"],
input[type="file"],
input[type="date"],
select,
textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background: var(--white);
  display: inline-block;
  outline: 0;
  text-decoration: none;
  width: 100%;
  color: var(--text_black);
}

select {
  -moz-appearance: auto;
  -webkit-appearance: auto;
  -ms-appearance: auto;
  appearance: auto;
}

button {
  outline: none;
  cursor: pointer;
}

button:disabled {
  pointer-events: none;
}

.form_control.selector:disabled,
.form_control.selector[readonly] {
  background-color: var(--white);
}

table th,
table td {
  text-align: inherit;
}

.text_center {
  text-align: center;
}

.text_right {
  text-align: right;
}

.text_left {
  text-align: left;
}

.text_nowrap {
  white-space: nowrap;
}

.word_bk_all {
  word-break: break-all;
}

.f_24 {
  font-size: 24px;
}

.f_22 {
  font-size: 22px;
}

.f_20 {
  font-size: 20px;
}

.f_18 {
  font-size: 18px;
}

.f_16 {
  font-size: 16px;
}

.f_15 {
  font-size: 15px;
}

.f_14 {
  font-size: 14px;
}

.f_13 {
  font-size: 13px;
}

.f_12 {
  font-size: 12px;
}

.flex_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex_warp {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex_align_center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex_cont_center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.flex_cont_end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: end;
}

.flex_equally {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.flex_between {
  -webkit-box-pack: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.flex_fill {
  -ms-flex: 1 1 auto;
  -webkit-box-flex: 1;
  flex: 1 1 auto;
}

.flex_row {
  -webkit-box-orient: horizontal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-direction: normal;
  -webkit-box-align: initial;
  -ms-flex-align: initial;
  align-items: initial;
}

.flex_dire {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.cur_pointer {
  cursor: pointer;
}

.f_weight {
  font-weight: bolder;
}

.form_group {
  margin-bottom: .5rem;
}

.form_label {
  padding-top: calc(0.375rem + 1px);
  padding-bottom: calc(0.375rem + 1px);
  margin-bottom: 0;
  font-size: inherit;
  line-height: 1.2;
  display: inline-block;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

.d_none {
  display: none;
}

.pointer_none {
  pointer-events: none !important;
}

.pos_relat {
  position: relative;
}

.pos_absolute {
  position: absolute;
}

.align_middle {
  vertical-align: middle !important;
}

.d_inline_block {
  display: inline-block !important;
}

.btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.mybtn {
  display: inline-block;
  padding: 7px 14px;
  margin-bottom: 0;
  font-size: 14px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: none;
  border-radius: 5px;
}

.mybtn:hover, .mybtn:focus {
  color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: .85;
}

.mybtn[disabled] {
  cursor: not-allowed;
  filter: alpha(opacity=80);
  -webkit-box-shadow: none;
  box-shadow: none;
  opacity: .85;
  pointer-events: none;
}

.mybtn_xs {
  padding: 3px 12px;
  font-size: 13px;
}

.badge {
  display: inline-block;
  padding: .25em .4em;
  line-height: 1;
  border-radius: 0.25rem;
}

.mybtn_default {
  color: #fff;
  background-color: #033975;
  -webkit-transition: background-color .15s;
  transition: background-color .15s;
  border-color: #033975;
}

.mybtn_default:hover, .mybtn_default:focus, .mybtn_default.focus, .mybtn_default:active, .mybtn_default.active,
.open > .mybtn_default.dropdown-toggle {
  color: #fff;
  background-color: #033975;
  border-color: #02264d;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.1))) !important;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)) !important;
  overflow: hidden;
  outline: 0;
}

.mybtn_default:active, .mybtn_default.active,
.open > .mybtn_default.dropdown-toggle {
  background-image: none;
}

.mybtn_default.disabled, .mybtn_default.disabled:hover, .mybtn_default.disabled:focus, .mybtn_default.disabled.focus, .mybtn_default.disabled:active, .mybtn_default.disabled.active, .mybtn_default[disabled], .mybtn_default[disabled]:hover, .mybtn_default[disabled]:focus, .mybtn_default[disabled].focus, .mybtn_default[disabled]:active, .mybtn_default[disabled].active,
fieldset[disabled] .mybtn_default,
fieldset[disabled] .mybtn_default:hover,
fieldset[disabled] .mybtn_default:focus,
fieldset[disabled] .mybtn_default.focus,
fieldset[disabled] .mybtn_default:active,
fieldset[disabled] .mybtn_default.active {
  background-color: #033975;
  border-color: #033975;
}

.mybtn_default .badge {
  color: #033975;
  background-color: #fff;
}

.mybtn_default .bg {
  background-color: #fff;
}

.mybtn_default .font {
  color: #033975;
}

.badge_default {
  color: #fff;
  background: #033975;
}

.bg_default {
  background: #033975;
}

.font_default {
  color: #033975;
}

.mybtn.disabled,
.mybtn[disabled],
fieldset[disabled] .mybtn {
  cursor: not-allowed !important;
  filter: alpha(opacity=85);
  opacity: .85;
  pointer-events: none;
}
/*# sourceMappingURL=style.css.map */